*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/95/89/NC4k0D.jpeg);   
    background-position:center;
    background-size: cover;
    position: relative;
    
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0; 
     min-width: 100%;
    min-height: 100%; 
     width: auto;
    height: auto; 
    z-index: -100;


}
.name{
    padding-left:20px;
    text-align: right(-100);
    position: relative;
    color: #fff;
    top: 0;
    right:0%;
    text-align: center;

}
.name h1{
    color: white;
    top: 0;
    left: 0;
    
}

.name h5{
    font-size: large;
    color: white;
    font-weight: 100; 
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;

}

.nav-links ul li::after{
    content:'';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

} 
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62p;
}
.text-box p{
    font-size: 14px;
    margin: 10px 0 48px;
    color: #fff;

}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #aa8a88;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20p;
     }
     .nav-links ul li{
        display: block;
        
     }
     .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
}
     nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

 }
     .nav-links ul{
        padding: 30px;


     }
}

/* ---DETAILS-- */

.DETAILS{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
    
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content:space-between;
    
    
   
}
.details-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
    }
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.details-col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0.2);

}  
@media(max-width:700px){
    .row{
        flex-direction: column;
        
    }
}    
    
/* ---campus--- */

.campus{

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;


}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0,0.7); 
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}

/* ----Facilities----- */

.Facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;


}
.Facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.Facilities-col img{
    width: 100%;
    border-radius: 10px;

}
.Facilities-col p{
    padding: 0;

}
.Facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* ----testimonial--- */

.testimonial{
    width:80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;

    }
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:#fff3f3 ;
    padding: 25px;
    cursor: pointer;
    display: flex;
    justify-content:space-between;
    
    
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}
.testimonial-col p{
    padding: 0;

}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: orangered;
}

/*Footer*/

.Footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.Footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icon .fa{
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/* -----FEATURES--- */

.sub-header{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://th.bing.com/th/id/R.74e93fa8bb8a857467caa66074201bac?rik=vUuymnIYSkAvuA&pid=ImgRaw&r=0);
   background-position: center;
   background-size: cover;
   text-align: center;
   color: #fff;

}
.sub-header h1{
    margin-top: 50px;
}
.FEATURES{
    width: 80%;
    margin: auto;
    padding: 15px 30px 25px;
   

}
.features-col{
    flex-basis: 48%;
    padding: 30px 2px ;

}
.features-col img{
    width: 70%;

}
.features-col h1{
    padding: 0 30px 25px;
}
.features-col p{
    padding: 15px 30px 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
    padding-left:(-30px);
    
}
.red-btn:hover{
    color: #fff;
}


/* ----contact --- */


.location{
    width: 80%;
    margin: auto;
    padding: 80px 0 10px;
}
.contact-us{
    width: 80%;
    margin: auto;

}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-cold div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin-right: 30px

}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px
    col
    font-weight: 400;
    margin: bottom 5px;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* .....road... */
.more {
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    flex-basis: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
 .image{
display: block;
float: right;
width: 20%;
padding: 10px;
padding-left: 30px;
overflow: hidden;
border-radius: 6px;
}
 .image img{
    width: 100%;
    border-radius: 6px;
}
 .image img:hover{
    transform: scale(2,2);
    transition: .1s;
}
.par p{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;

}

/* -----Buildings--- */

.buildings{
     
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    flex-basis: 32%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
 
.image2{
    display: block;
float: right;
width: 15%;
padding: 10px;
padding-left: 30px;
overflow: hidden;
border-radius: 5px;

}
.image2 img{
    width: 100%;
    border-radius: 6px;

}
.image2 img:hover{
    transform: scale(2,2);
    transition: .3s;
}
.par{
    float: left;
    text-align: left;
    padding-left: 30px;
}